footer {
    background-color: #08417d; /* Mesmo azul do topo */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto; /* Empurra o rodapé para o final da página */
    font-size: 0.9rem;
}

body {
    background-color: #f0f2f5; 
    font-family: Arial, sans-serif; 
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

/* Estilo do topo */
header {
    background-color: #08417d; 
    color: white;
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}


.cards {
    display: flex;
    gap: 50px; 
}


.card {
    background-color: white;
    flex: 1; /* Faz os dois terem o mesmo tamanho */
    padding: 60px 40px; /* AUMENTOU: 60px em cima/baixo e 40px nas laterais */
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem; /* AUMENTOU: Deixa o texto maior e mais visível */
    border-radius: 12px; /* Cantos um pouco mais arredondados para combinar */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra um pouco mais forte */
    cursor: pointer; /* Mostra a mãozinha do mouse */
}


.card:hover {
    background-color: #e9ecef; /* Cinza um pouco mais escuro */
}
